.margy{
    display:flex;
    flex-direction:column;
}
@media only screen and (min-width:500px){
    .margy{
        flex-direction: row
    }
}
.coulnm{
    display: flex;
    flex-direction: column wrap;
    width: 100%
}
@media only screen and (min-width:500px){
    .coulnm{
         width: calc(100%/5);
    }
}
.item{
    box-sizing: border-box;
    padding:10px;
    &_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110px;
        align-items: center;
        justify-content:center;
    }

}